.product {
  height: 500px;
  width: 300px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  height: 286px;
  width: 286px;
  margin: 7px;
}
.product .details {
  margin-left: 7px;
}
.product .details p {
  margin: 2px 0;
}
.product button {
  border: none;
  background-color: #ff9900;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 10px 0;
}
